a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

.para_link{
    color:blue;
    text-decoration: underline;
}

.para_link:hover{
    color:red;
    text-decoration: underline;
}

body{
    background-color: #F7F7F7;
}

p{
    font-size:18px;
}

/*TITLE AND PIC*/
header{
    display: block;
    background: #3C4C75;
    color:#ffffff;
    min-height:40px;
    border-bottom:#3bb446 4px solid;
    margin:auto;
    padding: 10px 100px;

}

header::after{
    content:'';
    display:table;
    clear:both;
}

.nav_left{
    float:left;
    font-size: 25px;
    margin:10px;
}

.nav_right{
    float:right;
    font-size:25px;
    margin:10px;

}

@media (max-width: 701px){
.nav_right{
    display: block;
    margin-left: auto;
    margin-right: auto;}
.nav_left{
    display: block;
    margin-left: auto;
    margin-right: auto;}
header{
    display: block;
    background: #3C4C75;
    color:#ffffff;
    min-height:40px;
    border-bottom:#3bb446 4px solid;
    margin:auto;
    padding: 10px 30px;
}
header::after{
    content:'';
}

}

header h1{
    position:relative;
    padding-top:5px;
}

header h1::before{
    content:'';
    display:block;
    height:5px;
    width:0%;
    background-color:white;

    position:absolute;
    top:0;
}

header h1:hover::before{
    width:100%;
}


section{
    margin:20px;
}

.title h1{
    font-size:50px;
    text-align:center;
    padding:15px;
    font-weight:bold;
    margin: 30px;
}
.container img{
    width:100%;
}

/*Excecution*/


.accordion {
    background-image: url(/images/plus-xxl.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 10px 25px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */

    vertical-align: middle; /* align the text vertically centered */
    background-size: 16px 16px;

  background-color: #3299CC;
  color: white;
  /*font-weight:bold;*/
  cursor: pointer;
  padding: 18px;
  padding-left: 40px;     /* make text start to the right of the image */
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  margin:5px;
  min-height:50px;
  height:auto;
  white-space: normal;
}

.active, .accordion:hover {
  background-color: #236B8E;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.panel li{
    font-size:18px;
}

.panel li a{
    color:blue;
    text-decoration:none;
}
